@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-blue {
  background: linear-gradient(135deg, #0073e6 0%, #004380 100%);
}

.shadow-blue {
  box-shadow: 0 4px 14px 0 rgba(0, 115, 230, 0.39);
}

.border-gradient {
  border-image: linear-gradient(135deg, #0073e6, #004380) 1;
}
